[submodule ".\\sourceCode\\react"]
	path = .\\sourceCode\\react
	url = https://github.com/facebook/react
[submodule ".\\sourceCode\\react-router"]
	path = .\\sourceCode\\react-router
	url = https://github.com/ReactTraining/react-router
[submodule ".\\sourceCode\\lodash"]
	path = .\\sourceCode\\lodash
	url = https://github.com/lodash/lodash.git
